services:
  php:
    build: ./docker/php
    container_name: ci4-php
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - php_vendor:/var/www/html/vendor
    ports:
      - "8080:80"
    networks:
      - ci4net
    extra_hosts:
      - "api-realestate.local:host-gateway"   # :host-gateway (para offline tanto online) | :192.168.43.232 (wifi do cell)

  node:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    container_name: ci4-node
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: sh -c "npm run ife & npm run tw & tail -f /dev/null"
    networks:
      - ci4net

networks:
  ci4net:

volumes:
  php_vendor:
  node_modules:
