version: "3.9"

services:
  php:
    build: ./docker/php
    container_name: ci4-php
    volumes:
        - .:/var/www/html
    ports:
        - "8080:80"
    networks:
        - ci4net

  node:
    build:
        context: .
        dockerfile: docker/node/Dockerfile
    container_name: ci4-node
    volumes:
        - .:/app
    command: sh -c "npm run ife & npm run tw"
    networks:
        - ci4net

  composer:
    image: composer:2
    container_name: ci4-composer
    working_dir: /var/www/html
    volumes:
        - .:/var/www/html
    networks:
        - ci4net

networks:
    ci4net:
