@import "tailwindcss";

/* CSS CARROSSEL DE ANÚNCIOS DESTACADOS  */
/* largura dos cards para ter 1 inteiro + parte do próximo no mobile */
.featured-carousel-card {
  flex: 0 0 82%;
  /* ~1 card + parte do próximo em mobile */
}

@media (min-width: 640px) {
  /* tablet – 2 cards quase completos + parte do 3.º */
  .featured-carousel-card {
    flex-basis: 46%;
  }
}

@media (min-width: 1024px) {
  /* desktop – 4 cards certinhos */
  .featured-carousel-card {
    flex-basis: 23%;
  }
}

/* esconder scrollbar horizontal mas manter scroll */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* CSS CARROSSEL DE ANÚNCIOS DESTACADOS  */
